*{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(pink,rgb(79, 54, 54)) ;
}

#counter{
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
    border-radius: 8px;
}

#counter div{
    display: flex;
    align-items: center;
}

#value{
    font-size: 8rem ;
    min-width: 14rem;
    text-align: center;
}

button{
    border: none;
    border-radius:4px ;
    background-color: black;
    font-weight: 500;
    cursor: pointer;
    transition: opacity .3s;

}

button:hover{
    opacity: .10;
}

.count-button{
    width: 6vw;
    height: 6rem;
    font-size: 5vh;
    margin-right: 1rem;
}

.count-button:last-child{
    margin-right: 0rem;
}

#reset
{
    margin-top: 1rem;
    width: 100%;
    font-size: 1.5rem;
    background-color:rgb(42, 28, 28);
}

